.container {
    flex: 4;
    // border: 1px solid red;
    
    h1 {
        font-size: 26px;
        // padding: 0 1rem;

    }
    .postContainer {
        
        margin-block-start: 2rem;
    }
}